# Ignore unnecessary files for Docker build
**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/publish
**/node_modules
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/README*.md
**/LICENSE*
**/CHANGELOG*
**/docs
**/scripts
**/.github
**/test-out
**/coverage*
